.header {
  box-sizing: border-box;
  padding: 2rem 6.3rem 1.9rem 6.6rem;
  width: 100%;
  height: 10rem;
  background-color: rgba(217, 217, 217, 0.0700000003);
  flex-shrink: 0;
}

.header .header_box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header_box .title {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.5125;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Prompt, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}

.header .header_box .nav_box {
  box-sizing: border-box;
  padding: 1.05rem 0rem 1.15rem 26.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.header .header_box .nav_box .nav {
  height: calc(100% - 0.5rem);
  display: flex;
  column-gap: 4rem;
  align-items: center;
  flex-shrink: 0;
}
.header .header_box .nav_box .nav .nav_item {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.5125;
  color: #eaf7ff;
  border: none;
  background-color: transparent;
  outline: none;
  font-family: Prompt, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}

.header .header_box .nav_box .nav .nav_item:hover {
  animation: bubble 0.4s ease-out;
  cursor: pointer;
  animation-fill-mode: forwards;
}

.explore_button {
  font-family: Prompt, "Source Sans Pro";
  font-size: 2.1rem;
  font-weight: 500;
  color: #425e6f;
  text-transform: initial;
  border-radius: 16px;
  background-color: #d4e4ec;
}

.explore_button:hover {
  background-color: #37657c;
  color: white;
}

@keyframes bubble {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 640px) {
  .header .header_box .nav_box {
    padding: 0 0 0 1rem;
  }
  .header .header_box .title {
    font-size: 3rem;
  }
  .header {
    padding: 2rem 6.3rem 1.9rem 1rem;
  }
  .header .header_box .nav_box .nav {
    column-gap: 1rem;
  }
  .header .header_box .nav_box .nav .nav_item {
    font-size: 1.5rem;
  }
  .explore_button {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .header .header_box .title {
    font-size: 4rem;
  }
  .header .header_box .nav_box .nav .nav_item {
    font-size: 2rem;
  }
  .explore_button {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 1920px) {
  .header .header_box .title {
    font-size: 5rem;
  }
  .header .header_box .nav_box .nav .nav_item {
    font-size: 3rem;
  }
  .explore_button {
    font-size: 3rem;
  }
}

@media screen and (min-width: 2560px) {
  .header .header_box .title {
    font-size: 7rem;
  }
  .header .header_box .nav_box .nav .nav_item {
    font-size: 4rem;
  }
  .explore_button {
    font-size: 4rem;
  }
}
