.content {
  box-sizing: border-box;
  padding: 5rem 0rem 0rem 0.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.content .div_categories {
  margin: 0rem 11.6rem 8rem 11.5rem;
  width: calc(100% - 23.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.content .div_categories .header {
  margin-bottom: 5rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.content .div_categories .categories {
  width: 100%;
  height: 20rem;
  display: flex;
  column-gap: 5.2rem;
  align-items: center;
  flex-shrink: 0;
}

.content .div_categories .categories .hotels_div {
  box-sizing: border-box;
  padding: 2.9rem 5rem 2.6rem 5rem;
  width: 20rem;
  height: 100%;
  border: solid 0.1rem rgba(180, 114, 114, 0.8999999762);
  box-shadow: inset -0.2rem -0.2rem 0.3rem rgba(181, 115, 115, 0.8000000119)), inset 0.2rem 0.2rem 0.3rem rgba(181, 115, 115, 0.8000000119));
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}

.content .div_categories .categories .hotels_div .hotel {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.content .div_categories .categories .hotels_div .hotel .hotel_png_div {
  margin-bottom: 0.8rem;
  box-sizing: border-box;
  width: 100%;
  padding: 2rem 2rem 2rem 0rem;
  background-color: #fff2f0;
  border-radius: 5rem;
  flex-shrink: 0;
}

.content .div_categories .categories .hotels_div .hotel .hotel_png {
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 1.7rem;
}


.content .div_categories .categories .rests_div {
  box-sizing: border-box;
  padding: 2.5rem 3.8rem 3rem 3.7rem;
  width: 20rem;
  height: 100%;
  border: solid 0.1rem #f3a42f;
  box-shadow: inset -0.2rem -0.2rem 0.3rem rgba(243, 165, 47, 0.8000000119)), inset 0.2rem 0.2rem 0.3rem rgba(243, 165, 47, 0.8000000119));
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.content .div_categories .categories .rests_div .rest {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.content .div_categories .categories .rests_div .rest .rest_png_div {
  margin: 0rem 1.3rem 0.8rem 1.2rem;
  box-sizing: border-box;
  padding: 2rem;
  width: calc(100% - 2.5rem);
  background-color: #f8ede0;
  border-radius: 5rem;
  flex-shrink: 0;
}
.content .div_categories .categories .rests_div .rest .rest_png_div .rest_png {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  vertical-align: top;
}

.category_title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5125;
  color: #000000;
  font-family: Prompt, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.category_png {
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 1.7rem;
}
