.content {
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.content .div_categories {
  width: calc(100% - 23.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.content .div_categories .header {
  margin-bottom: 5rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
